     *{
           display: 0;
       }
       body{
           font-size: 13px;
           background-color:white;
       }
      h2{
           color: rgb(68, 165, 206);
           font-size: 32px;
         
       }
       li{
        color: rgb(68, 165, 206);
       }
       label{
           color: rgb(2, 11, 39);
       }
       legend{
           color: rgb(2, 11, 39);
       }
       button{
           background-color: white;
           font-size: 12px;
           color: black;
           cursor: pointer;
           width: 70px;
           height: 25px;
           border-radius: 3px;

       }
